<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.beiyi.dao.PrescriptionDrugsMapper">
  <resultMap id="BaseResultMap" type="org.beiyi.entity.db.PrescriptionDrugs">
    <result column="prescription_verify_record_id" jdbcType="VARCHAR" property="prescriptionVerifyRecordId" />
    <result column="drug_no" jdbcType="VARCHAR" property="drugNo" />
    <result column="sea_rainbow_code" jdbcType="VARCHAR" property="seaRainbowCode" />
    <result column="medical_insurance_code" jdbcType="VARCHAR" property="medicalInsuranceCode" />
    <result column="his_no" jdbcType="VARCHAR" property="hisNo" />
    <result column="drug_name" jdbcType="VARCHAR" property="drugName" />
    <result column="form" jdbcType="VARCHAR" property="form" />
    <result column="standard" jdbcType="VARCHAR" property="standard" />
    <result column="pack" jdbcType="VARCHAR" property="pack" />
    <result column="route_medication" jdbcType="VARCHAR" property="routeMedication" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="dosage" jdbcType="VARCHAR" property="dosage" />
    <result column="dosage_unit" jdbcType="VARCHAR" property="dosageUnit" />
    <result column="dosage_frequency" jdbcType="VARCHAR" property="dosageFrequency" />
    <result column="drug_quantity" jdbcType="VARCHAR" property="drugQuantity" />
    <result column="drug_quantity_unit" jdbcType="VARCHAR" property="drugQuantityUnit" />
    <result column="drug_group" jdbcType="VARCHAR" property="drugGroup" />
    <result column="drug_order" jdbcType="VARCHAR" property="drugOrder" />
    <result column="money" jdbcType="VARCHAR" property="money" />
    <result column="reimbursement_money" jdbcType="VARCHAR" property="reimbursementMoney" />
  </resultMap>
  <select id="getPagedList" parameterType="org.beiyi.entity.db.PrescriptionDrugs"  resultMap="BaseResultMap">
    select 
   	*
    from prescription_drugs where prescription_verify_record_id = #{prescriptionVerifyRecordId,jdbcType=VARCHAR}
  </select>
  <insert id="insert" parameterType="org.beiyi.entity.db.PrescriptionDrugs">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jul 16 14:49:01 CST 2018.
    -->
    insert into prescription_drugs (prescription_verify_record_id, drug_no, 
      sea_rainbow_code, medical_insurance_code, his_no, 
      drug_name, form, standard, 
      pack, route_medication, company_name, 
      dosage, dosage_unit, dosage_frequency, 
      drug_quantity, drug_quantity_unit, drug_group, 
      drug_order, money, reimbursement_money
      )
    values (#{prescriptionVerifyRecordId,jdbcType=VARCHAR}, #{drugNo,jdbcType=VARCHAR}, 
      #{seaRainbowCode,jdbcType=VARCHAR}, #{medicalInsuranceCode,jdbcType=VARCHAR}, #{hisNo,jdbcType=VARCHAR}, 
      #{drugName,jdbcType=VARCHAR}, #{form,jdbcType=VARCHAR}, #{standard,jdbcType=VARCHAR}, 
      #{pack,jdbcType=VARCHAR}, #{routeMedication,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, 
      #{dosage,jdbcType=VARCHAR}, #{dosageUnit,jdbcType=VARCHAR}, #{dosageFrequency,jdbcType=VARCHAR}, 
      #{drugQuantity,jdbcType=VARCHAR}, #{drugQuantityUnit,jdbcType=VARCHAR}, #{drugGroup,jdbcType=VARCHAR}, 
      #{drugOrder,jdbcType=VARCHAR}, #{money,jdbcType=VARCHAR}, #{reimbursementMoney,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.beiyi.entity.db.PrescriptionDrugs">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Jul 16 14:49:01 CST 2018.
    -->
    insert into prescription_drugs
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="prescriptionVerifyRecordId != null">
        prescription_verify_record_id,
      </if>
      <if test="drugNo != null">
        drug_no,
      </if>
      <if test="seaRainbowCode != null">
        sea_rainbow_code,
      </if>
      <if test="medicalInsuranceCode != null">
        medical_insurance_code,
      </if>
      <if test="hisNo != null">
        his_no,
      </if>
      <if test="drugName != null">
        drug_name,
      </if>
      <if test="form != null">
        form,
      </if>
      <if test="standard != null">
        standard,
      </if>
      <if test="pack != null">
        pack,
      </if>
      <if test="routeMedication != null">
        route_medication,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="dosage != null">
        dosage,
      </if>
      <if test="dosageUnit != null">
        dosage_unit,
      </if>
      <if test="dosageFrequency != null">
        dosage_frequency,
      </if>
      <if test="drugQuantity != null">
        drug_quantity,
      </if>
      <if test="drugQuantityUnit != null">
        drug_quantity_unit,
      </if>
      <if test="drugGroup != null">
        drug_group,
      </if>
      <if test="drugOrder != null">
        drug_order,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="reimbursementMoney != null">
        reimbursement_money,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="prescriptionVerifyRecordId != null">
        #{prescriptionVerifyRecordId,jdbcType=VARCHAR},
      </if>
      <if test="drugNo != null">
        #{drugNo,jdbcType=VARCHAR},
      </if>
      <if test="seaRainbowCode != null">
        #{seaRainbowCode,jdbcType=VARCHAR},
      </if>
      <if test="medicalInsuranceCode != null">
        #{medicalInsuranceCode,jdbcType=VARCHAR},
      </if>
      <if test="hisNo != null">
        #{hisNo,jdbcType=VARCHAR},
      </if>
      <if test="drugName != null">
        #{drugName,jdbcType=VARCHAR},
      </if>
      <if test="form != null">
        #{form,jdbcType=VARCHAR},
      </if>
      <if test="standard != null">
        #{standard,jdbcType=VARCHAR},
      </if>
      <if test="pack != null">
        #{pack,jdbcType=VARCHAR},
      </if>
      <if test="routeMedication != null">
        #{routeMedication,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="dosage != null">
        #{dosage,jdbcType=VARCHAR},
      </if>
      <if test="dosageUnit != null">
        #{dosageUnit,jdbcType=VARCHAR},
      </if>
      <if test="dosageFrequency != null">
        #{dosageFrequency,jdbcType=VARCHAR},
      </if>
      <if test="drugQuantity != null">
        #{drugQuantity,jdbcType=VARCHAR},
      </if>
      <if test="drugQuantityUnit != null">
        #{drugQuantityUnit,jdbcType=VARCHAR},
      </if>
      <if test="drugGroup != null">
        #{drugGroup,jdbcType=VARCHAR},
      </if>
      <if test="drugOrder != null">
        #{drugOrder,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        #{money,jdbcType=VARCHAR},
      </if>
      <if test="reimbursementMoney != null">
        #{reimbursementMoney,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>